.brightcove-container .ad-disclaimer{font-size:1.2em;margin:0 0 0 .4em}.brightcove-container .vjs-layout-small .ad-disclaimer{margin:0}.bc-player-6QHWscEzy_default .ad-disclaimer{color:#000}.brightcove-container .vjs-ad-playing .vjs-spacer{-webkit-box-align:center;-ms-flex-align:center;align-items:center}

@media (max-width: 768px) {
.vjs-control-bar.vjs-ad-control-bar {
display: none !important;
}
  .bc-player-JlvJnROgWL_default .vjs-progress-control .vjs-mouse-display {z-index:0 !important;}

.brightcove-container > .video-js .vjs-control-bar.vjs-ad-control-bar {
display: none;
}
  
  .vjs-ima3-ad-container {
    z-index: 20;
  }
  .video-js .vjs-tech {
    z-index: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
.bc-player-JlvJnROgWL_default .vjs-progress-control .vjs-mouse-display{z-index:0 !important;}
  .bc-player-JlvJnROgWL_default.vjs-ad-playing.vjs-ad-playing .vjs-progress-control:after {
position: relative;
  }
  .vjs-control-bar.vjs-control-bar.vjs-ad-control-bar.vjs-ad-control-bar {
height: 35px;
}
  .bc-player-JlvJnROgWL_default .vjs-time-control {
    align-items: center;
  }
  .vjs-button.vjs-mute-control > .vjs-icon-placeholder:before {
        line-height: 1.4;
  }
}
