@keyframes hidecontrols {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -64px;
  }
}

.aarpe-column-control .vjs-ad-playing .vjs-control-bar.vjs-ad-control-bar {
    animation: hidecontrols 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

@media only screen and (max-width: 1024px) {
    .vjs-ad-controls.vjs-ad-playing .vjs-control-bar.vjs-ad-control-bar {
        animation: hidecontrols 1s linear;
        animation-fill-mode: forwards;
        animation-delay: 5s;
    }

/* .show-ad-controls {
	bottom:15px !important;
} */
	
    .vjs-ad-controls.vjs-ad-playing .vjs-control-bar.vjs-ad-control-bar.show-ad-controls {
        animation: hidecontrols 1s linear;
        animation-fill-mode: backwards;
        animation-delay: 1s;
    }	

/* .vjs-has-started.vjs-ima3-paused.vjs-user-active.vjs-ad-controls.vjs-ad-playing .vjs-control-bar.vjs-ad-control-bar, */
/* .vjs-has-started.vjs-ima3-paused.vjs-user-inactive.vjs-ad-controls.vjs-ad-playing .vjs-control-bar.vjs-ad-control-bar:not(.show-ad-controls) {
    bottom:0;
} */

.vjs-ad-playing .vjs-ima3-ad-container, .vjs-ima3-click-tracker {
			pointer-events: all;
}

}
